*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem 4rem;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: cross-fade(to right, #fff,#17237f);
    padding: 0 !important;
}
.navbar-brand img{
    height:40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;

}
/* .monitor{
    margin
} */
.navbar-nav li a{
    color: #000 !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
#img{
    
    padding-top: 2%;
    padding-bottom: 8rem;
}


/* ------------banner section-------------------- */
#banner{
    background: url('/img/adj.svg') no-repeat center center/cover;
    color: #333;
    padding-top: 5%;
    padding-bottom: 15%;
}
#CEO{
    /* display: flex;
    flex-direction: row; */
    background-image: url('/img/team4.svg') no-repeat center center/cover;
    background-color: #f7f7f7;
    color: #333;
    padding-top: 0%;
    /* padding-bottom: 1%; */
}
#specialities{
    padding-top: 2%;
    padding-bottom: 4rem;
}
.icon-bg{
    color: #5f8ed4;
}

.show-ceo{
    background-image: url('/img/team4.svg') no-repeat center center/cover;
}
#achievement{
    padding: 4rem 0rem;
}
#what{
    padding-top: 8rem;
}
.split{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bold{
    font-weight: bold;

}
.space{
    padding: 4rem 0rem;
}
.detail{
    background-color: #f7f7f7;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top:100px ;
}
.play-btn{
    width:45px;
    margin: 20px;
}
#banner a{
    color: #fff;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
}
.btn-control{
    padding-top: 2rem;
}
/* ---------------------services section---------------------- */
#services{
    padding: 80px 0;
}
.service-img{
    width: 140px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #0f52ba;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #0f52ba;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #8cb2ec,#0f52ba);


}
.log{
    display: flex;
    /* justify-content: space-evenly; */
}
.recent{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.ml-1{
    padding: 1rem 2rem;
}
.ml-2{
    padding: 1rem 1.5rem;
}
.ml-3{
    padding-top: 3rem;
}
.ml-4{
    padding: 2rem;
    padding-bottom: 4rem;
}
.ml-5{
    padding-top: 40%;
}
.faint{
    color: #333;
}
.card-body img{
    color: greenyellow;
    height: 90px;
    width: 90px;
}
.p-1{
    padding-top: 50%;
}
.row-pd{
    padding-bottom: 2rem;
}
.icon-pd{
    padding: 1.2rem;
}
.bg-control{
    padding: 1.5rem;
    border-top-right-radius:50%;
    /* border-right: 10%; */
    border-top-left-radius: 50%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 40%;
}
.btn-icon{
    background: aquamarine;
    border-radius: 50%;
    padding: 1.5rem;
}
.container-team{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#team{
    padding-bottom: 8rem;
}
